<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">-->
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    <h1 th:texte="|Error : ${error}|">Erreur</h1>-->
    <main class="grid place-items-center px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <h1 class="font-semibold affiche text-7xl text-gray-600">404</h1>
        <h2 class="mt-4 text-3xl font-bold tracking-tight text-gray-500 sm:text-5xl">Page not found</h2>
        <p class="mt-6 leading-7 text-xl error text-red-500" th:text="|message : ${error}|">Sorry, we couldn’t find the page you’re looking for.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a th:href="@{/}" class="inline-block px-6 py-3 text-sm font-semibold leading-6 text-center text-white uppercase transition bg-indigo-600 rounded shadow ripple hover:shadow-lg hover:bg-indigo-700 focus:outline-none">Retour à la page d'acceuil</a>
        </div>
      </div>
    </main>

</body>
</html>
