<!DOCTYPE html>
<html lang="fr" class="form-screen" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="icon" type="image/png" th:href="@{/admin/img/logo.png}">-->
  <title>Stegano-PWA Créer un compte</title>

  <!-- Tailwind CSS -->
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div id="app">
  <section id="color-bg" class="section main-section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title1">Créer un compte</p>
      </header>

      <div class="card-content">
        <!-- Formulaire d'inscription -->
        <form th:action="@{/inscription}" th:object="${userForm}" method="POST">
          <div class="field spaced">
            <label class="label">Nom d'utilisateur</label>
            <div class="control icons-left">
              <input class="input" type="text" th:field="*{name}" name="username" placeholder="Entrez votre nom d'utilisateur" id="username" required>
              <span class="icon is-small left"><i class="mdi mdi-account"></i></span>
            </div>
            <p class="help">Choisissez un nom d'utilisateur</p>
          </div>

          <div class="field spaced">
            <label class="label">Email</label>
            <div class="control icons-left">
              <input class="input" type="email" th:field="*{email}"  name="email" placeholder="user@example.com" id="email" required>
              <span class="icon is-small left"><i class="mdi mdi-email"></i></span>
            </div>
            <p class="help">Entrez votre adresse email</p>
          </div>

          <div class="field spaced">
            <label class="label">Mot de passe</label>
            <div class="control icons-left">
              <input class="input" type="password" name="password" th:field="*{password}" placeholder="Mot de passe" id="password" required>
              <span class="icon is-small left"><i class="mdi mdi-asterisk"></i></span>
            </div>
            <p class="help">Entrez un mot de passe sécurisé</p>
          </div>

          <div class="field spaced">
            <label class="label">Confirmer le mot de passe</label>
            <div class="control icons-left">
              <input class="input" type="password" name="confirmPassword" placeholder="Confirmer le mot de passe" id="confirmPassword" required>
              <span class="icon is-small left"><i class="mdi mdi-asterisk"></i></span>
            </div>
            <p class="help">Confirmez votre mot de passe</p>
          </div>

          <hr>

          <div class="field grouped">
            <div class="control">
              <button type="submit" class="button-ajout">S'inscrire</button>
            </div>
          </div>
        </form>

        <!-- Lien vers la page de connexion -->
        <div class="field">
          <p class="help has-text-centered mt-5">
            Déjà un compte ? <a href="/login" class="has-text-link">Se connecter</a>
          </p>
        </div>

        <div class="field">
          <p class="help has-text-centered mt-5">
            Ou inscrivez-vous avec Google :
          </p>
          <!-- Lien de connexion Google -->
          <a href="/oauth2/authorization/google" class="button is-fullwidth">
            <span class="icon is-small">
              <i class="mdi mdi-google"></i>
            </span>
            <span>Se connecter avec Google</span>
          </a>
        </div>


      </div>
    </div>
  </section>
</div>

<!-- Scripts -->
<script type="text/javascript" th:src="@{/admin/js/main.min.js}"></script>

<!-- Material Design Icons -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>
</html>
